#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Get Index Item Info Data Call</h1>
<h2></h2>
<table>
  <tr>
    <th>Domain</th>
    <th>RefDomains</th>
    <th>RefIPs</th>
    <th>RefSubNets</th>
    <th>ExtBackLinksEDU</th>
    <th>RefDomainsEDU</th>
    <th>ExtBackLinksGOV</th>
    <th>RefDomainsGOV</th>
    <th>CitationFlow</th>
    <th>TrustFlow</th>
  </tr>

#{list items:results, as:'indexItemInfo'}
  <tr>
    <td>${indexItemInfo.get('Item')}</td>
    <td>${indexItemInfo.get('RefDomains')}</td>
    <td>${indexItemInfo.get('RefIPs')}</td>
    <td>${indexItemInfo.get('RefSubNets')}</td>
    <td>${indexItemInfo.get('ExtBackLinksEDU')}</td>
    <td>${indexItemInfo.get('RefDomainsEDU')}</td>
    <td>${indexItemInfo.get('ExtBackLinksGOV')}</td>
    <td>${indexItemInfo.get('RefDomainsGOV')}</td>
    <td>${indexItemInfo.get('CitationFlow')}</td>
    <td>${indexItemInfo.get('TrustFlow')}</td>
  </tr>
#{/list}
</table>