<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
   "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" -->
<!--     "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> -->


<hibernate-configuration>
    <session-factory>
        <mapping class="com.mitnick.persistence.entities.Empresa"/>
        <mapping class="com.mitnick.persistence.entities.Cliente"/>
        <mapping class="com.mitnick.persistence.entities.Marca"/>
        <mapping class="com.mitnick.persistence.entities.MedioPago"/>
        <mapping class="com.mitnick.persistence.entities.Movimiento"/>
        <mapping class="com.mitnick.persistence.entities.Pago"/>
        <mapping class="com.mitnick.persistence.entities.Producto"/>
        <mapping class="com.mitnick.persistence.entities.ProductoVenta"/>
        <mapping class="com.mitnick.persistence.entities.Tipo"/>
        <mapping class="com.mitnick.persistence.entities.Venta"/>
        <mapping class="com.mitnick.persistence.entities.Direccion"/>
        <mapping class="com.mitnick.persistence.entities.Pais"/>
        <mapping class="com.mitnick.persistence.entities.Provincia"/>
        <mapping class="com.mitnick.persistence.entities.Ciudad"/>
        <mapping class="com.mitnick.persistence.entities.Proveedor"/>
        <mapping class="com.mitnick.persistence.entities.Configuracion"/>
        <mapping class="com.mitnick.persistence.entities.Parametro"/>
        <mapping class="com.mitnick.persistence.entities.Cuota"/>
    </session-factory>
</hibernate-configuration>