<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true" default-autowire="byName">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.mitnick.presentation"/>
    
    <bean id="log4jInitialization"	class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>src/main/resources/log4j.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="dbInitialization" class="com.mitnick.presentation.utils.DBInitialization" >
    </bean>


	<bean id="propertiesManager" class="com.mitnick.utils.PropertiesManager" >
    	<property name="messageSource" ref="messageSource" />
    </bean>
    
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>presentation-labels</value>
				<value>presentation-errors</value>
				<value>presentation-messages</value>
				<value>business-errors</value>
				<value>business-validation</value>
			</list>
		</property>
 	</bean>
 	
 	<!-- Add new Views here -->
 	<bean id="productosPanel" class="com.mitnick.presentation.view.ProductosPanel">
 		<constructor-arg value="Articulos"></constructor-arg>
 	</bean>
 	
 	<bean id="clientesPanel" class="com.mitnick.presentation.view.ClientesPanel">
 		<constructor-arg value="Clientes"></constructor-arg>
 	</bean>
 	
 	<bean id="buscarProductoPanel" class="com.mitnick.presentation.view.BuscarProductoPanel">
 		<constructor-arg value=""></constructor-arg>
 		<property name="ventasController" ref="ventasController"></property>
 	</bean>
 	
 	<bean id="ventasPanel" class="com.mitnick.presentation.view.VentasPanel">
 		<constructor-arg value=""></constructor-arg>
 		<property name="ventasController" ref="ventasController"></property>
 	</bean>
 	
 	<bean id="ventasView" class="com.mitnick.presentation.view.VentasView">
 		<constructor-arg value="Ventas"></constructor-arg>
 		<property name="ventasController" ref="ventasController"></property>
 	</bean>
 	
 	<bean id="principalView" class="com.mitnick.presentation.view.PrincipalView">
 		<property name="ventasView" ref="ventasView"></property>
 		<property name="productosPanel" ref="productosPanel"></property>
 		<property name="clientesPanel" ref="clientesPanel"></property>
 	</bean>
 	
 	<!-- Add new Controllers here -->
 	<bean id="ventasController" class="com.mitnick.presentation.controller.VentasController">
 		<property name="ventasView" ref="ventasView"></property>
 		<property name="ventasPanel" ref="ventasPanel"></property>
 	</bean>
 	
 	
</beans>