#{extends 'admin.html' /}

#{js 'jquery-1.9.1.js', output:'all'/}

<script>

function goodToBuy(site, order, orderBy){		
	var goodToBuyURL = #{jsRoute @OutputResultGenerator.goodToBuy(':site') /};
	var jqxhr = $.ajax({
      url: goodToBuyURL.url({site: site}),
      type: 'goodToBuy.method'
    }).done(function(data){
    	
    });
}

</script>
#{form action:@listResult().add('order', order ).add('orderBy', orderBy), method:'GET'}
	<div class="advancedSearch">
		In Google: <select name="inGoogle" id="inGoogle">
		  <option value="Select the option">Select the option</option>
		  <option value="YES">YES</option>
		  <option value="NO">NO</option>
		</select>
		
		WWW: <select name="www" id="www">
		  <option value="Select the option">Select the option</option>
		  <option value="Y">Y</option>
		  <option value="N">N</option>
		</select>
		
		Page rank:<input type="text" name="pr" value="${pr}" />
		
		Ref Domains:<input type="text" name="refDomians" value="${refDomians}" />
		
		Ref Ips:<input type="text" name="refips" value="${refips}" />
		
		Ref Subnets:<input type="text" name="refsubnet" value="${refsubnet}" />
		
		Ext Back Links Edus:<input type="text" name="extlinksedu" value="${extlinksedu}" />
		
		Ref Domans Edu:<input type="text" name="refdomainedu" value="${refdomainedu}" />
		
		Ext Back links Gov:<input type="text" name="extbacklinksgov" value="${extbacklinksgov}" />
		
		Ref Domains Gov:<input type="text" name="refdomiansgov" value="${refdomiansgov}" />
		
		Ref Domains Home:<input type="text" name="refdomainshome" value="${refdomainshome}" />
		
		Percent To Homepage:<input type="text" name="percenttoh" value="${percenttoh}" />
	</div>
	
	
	<input type="submit" value="&{'crud.search'}" />


<div id="resultList" class="result">

    <h2 id="resultListTitle">Domain Analysis Result</h2>

	<table>
		<thead>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','site')}">Domain</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','pr')}">Page Rank</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','ingoogle')}">In Google</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','www')}">WWW</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','refdomain')}">Ref Domians</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','refips')}">Ref Ips</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','refsubnet')}">Ref Subnets</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','extlinksedu')}">Ext Back Links Edu</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','refdomainedu')}">Ref Domans Edu</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','extbacklinksgov')}">Ext Back links Gov</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','refdomiansgov')}">Ref Domains Gov</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','refdomainshome')}">Ref Domains Home</a></th>
			<th><a href="@{listResult().add('order',(order == 'DESC' ? 'ASC' : 'DESC')).add('orderBy','percenttoh')}">Percent To Homepage</a></th>	
			<th>Good to Buy</th>		
			<th></th>			
		</thead>
		<tbody>
			#{list results, as:'result'}
			<tr>
				  <td>&{result.site}</td>
				  <td>&{result.pr}</td>
				  <td>&{result.inGoogle}</td>
				  <td>&{result.www}</td>
				  <td>&{result.refDomians}</td>
				  <td>&{result.refIps}</td>
				  <td>&{result.refSubNet}</td>
				  <td>&{result.extBackLnksEdu}</td>
				  <td>&{result.refDomainsEdu}</td>
				  <td>&{result.extBackLinksGov}</td>
				  <td>&{result.refDomainsGov}</td>				  
				  <td>&{result.refDomianHome}</td>
				  <td>&{result.percentToHome}</td>
				  <td><input type="checkbox" #{if result.goodToBuy}  checked="true" #{/if} onclick="goodToBuy('${result.site}', '${order}', '${orderBy}');"></td>	
				  <th><a href="@{delete().add('order',order).add('orderBy',orderBy).add('site', result.site)}"><img src="/public/images/delete.gif" alt="Edit"></a></th>			  
			</tr>
			#{/list}
		</tbody>
	</table>

</div>

#{/form}

<script>
if ('${inGoogle}'!='')
	$('#inGoogle option:contains(${inGoogle})').prop('selected', true);
if ('${www}'!='')	
	$('#www option:contains(${www})').prop('selected', true);
</script>